body {
    background: linear-gradient(to bottom, #ffffff, #caecdf);
    height: 100vh;
}

.login-container {    
    background-image: url("../imgs/blob-haikei.svg");
    font-family: Arial, sans-serif;
    max-width: 400px;
    min-height: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}

.login-title{
    margin-top: 200px;
    text-align: center;
    font-size: 45px;
}

.form-container{
    margin-top: 100px;
}

/* From Uiverse.io by VijinV */ 
.inputbox {
    position: relative;
    width: 196px;
}

.inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.inputbox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
    letter-spacing: 00.05em;
    transition: 0.5s;
    pointer-events: none;
}

.inputbox input:valid ~span,
.inputbox input:focus ~span {
    color: #45f3ff;
    transform: translateX(-10px) translateY(-34px);
    font-size: 0,75em;
}

.inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #45f3ff;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputbox input:valid ~i,
.inputbox input:focus ~i {
    height: 44px;
}

.button {
    align-content: center;
    width: 90%;
    margin-left: 15px;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #151515;
    color: #eee;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.button:hover {
    transform: translateY(-3px);
}

.button-span {
    color: #aaa;
}

/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #7ad5bb;
    transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #7ad5bb;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}

.reg-text{
    text-align: center;
    margin-top: 20px;
    color: #686a75;
}