<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/ui.css' %}">
    <script type="text/javascript" src="{% static 'js/updatePassword.js' %}"></script>
    <title>비밀번호 변경</title>
</head>
<body>
{% if user.is_authenticated %}
<div class="login-container">
    <h1>비밀번호 변경</h1>
    <form action="/api/updatePassword/" method="post">
        <input type="password" name="current_pass" id="current_pass" placeholder="현재 비밀번호" maxlength="50" required>
        <hr>
        <input type="password" name="new_pass1" id="new_pass1" placeholder="변경할 비밀번호" maxlength="50" required>
        <input type="password" name="new_pass2" id="new_pass2" placeholder="비밀번호 재 입력" maxlength="50" required>
        <input type="hidden" name="id" id="id" value="{{ user.user_id }}">
        <input type="hidden" name="salt" id="salt" value="{{ user.salt }}"/>
        <button type="submit" id="edit">변경</button>
    </form>
    <div class="link-container">
        <p><a href="../">홈으로</a></p>
    </div>
</div>
{% else %}
<a href="/">메인으로 돌아가기</a>
{% endif %}
</body>
</html>